.helpInfo{
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url("https://webclient2-static.feverup.com/assets/images/help.svg");
background-origin: padding-box;
background-position: 0px 50%;
background-position-x: 0px;
background-position-y: 50%;
background-repeat: no-repeat;
background-size: 23px 24px;
box-sizing: border-box;
color: rgb(255, 255, 255);
float: left;
font-family: MaisonNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
position: relative;
visibility: visible;
width: 520px;
}